<h1>Vielen Dank für Ihre Bewerbung bei Megorei</h1>
<p>
  Ihre Bewerbung wurde erfolgreich gespeichert.<br />
  Wir melden uns so bald es geht bei Ihnen.
</p>
<p>
  Mit freundlichen Grüßen<br />
  ihr Megorei-Team
</p>
